@model Core.Employee


@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

<html>
<head>
    <title>Login</title>
    <style>
        #login-div {
            position: absolute;
            left: 40%;
            top: 40%;
            border: 1px solid #000;
            padding: 10px 10px;
        }
        .field-validation-error{
            color:red;
        }
    </style>
</head>
<body>
    <div id="login-div">
        @using (Html.BeginForm("Authorize","Login", FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td style="text-decoration:underline"> Enter username and password: </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Username)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Username)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Username)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.LabelFor(model => model.Password)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.Password)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Password)
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" name="name" value="Login" />
                        <input type="reset" name="name" value="Ryd" />

                    </td>
                </tr>
            </table>
        }

    </div>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>


</body>

</html>
